.updatecontact{
            width: 30%;
            border: 2px solid black;
            margin: auto;
            padding: 20px;
            font-size: 20px;
        }
#myform table tr td input{
            font-size: 20px;
        }
.updatecontact h1{
            text-align: center;
            color: red;
            margin-top: 0%;
        }
.updatecontact button{
	margin-left: 70px;
	
}      